:root {
  --primary: '#0c91cd',
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  background-color: #f0f0f0;
  min-height: 1000px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.container {
  width: 1200px;
  vertical-align: top;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.mainTitle {
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.mainTitle h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

.mainTitle hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.col-md-2 {
  width: 16.66667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33333%;
}

.col-md-6 {
  width: 50%;
}

.col-md-8 {
  width: 66.66667%;
}

.col-md-12 {
  width: 100%;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

.row hr {
  line-height: 4px;
  border: 3px solid #0c91cd;
  display: block;
  width: 100%;
  margin: 20px 0 20px 20px;
}

.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-12 {
  padding: 0 15px;
  position: relative;
  min-height: 1px;

}

.search-focus:focus-within {
  border-color: rgba(224, 216, 216, 0.87);
}